/* fine imports __________________ */
@import url(/css/normalize.css);

@font-face {
    font-family: 'klinic_slabbold';
    src: url('KlinicSlabBold.woff2') format('woff2'),
         url('KlinicSlabBold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'klinic_slabbook';
    src: url('KlinicSlabBook.woff2') format('woff2'),
         url('KlinicSlabBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klinic_slablight_italic';
    src: url('KlinicSlabLightIt.woff2') format('woff2'),
         url('KlinicSlabLightIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/* body __________________________ */

html, body {
	font-family: 'klinic_slabbook', sans-serif;
	line-height: 1.6em;
    font-size: 18px;
	color: #263277;
	text-rendering: optimizeLegibility;
	font-smooth:always;
	-webkit-font-smoothing: subpixel-antialiased;
    background: #eee;
	}

/* links __________________________ */
a {
	text-decoration:none;
	color: #bf1a49;
    font-family: 'klinic_slabbold';
	font-weight: bold;
	}
a:link {
    -webkit-tap-highlight-color: #bf1a49;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s; }
a:visited { color:#bf1a49;}
a:hover{ color: #aa9d7b;}

/* typography __________________________ */

h1, h2, h3, h4, h5, h6 {
    font-family: 'klinic_slablight_italic';
    color: #aa9d7b;
    margin: 0;
    }
h1 {
    font-size: 3.5rem;
    line-height: 2em;
    text-align: center;
    }
h2 { font-size: 2.625rem; line-height: .9em; }

ol { list-style-type: decimal; margin-left: 0;}
ul { list-style-type: circle; margin-left: 0;}
li {margin-left: 0;}
p { }
em, small { font-size: 0.8rem; font-family: 'klinic_slabbold'}
ins { }
mark {  }
blockquote, q { }
pre, code, kbd, samp {
    display: block;
    background: #faf7f7;
    padding: 1em;
    line-height: 1rem;
    font-size: 0.8rem;
    color: #2ce2b1;
    }
strong { font-weight: bold; }
details {}
figcaption {}
summary {}

/* layout __________________________ */
main { }
header { background: #fff; }
    .intro { padding: 2rem 1rem 4rem 1rem; }
    #ic_info {width: 0.5rem;}
    .info:hover {fill: #aa9d7b;
        -webkit-transition: 0.5s;
	    -moz-transition: 0.5s;
	    transition: 0.5s;
    }
hgroup {}
menu {}
nav {}
section { }
    section.project { padding-bottom: 2rem;}
    .project img {margin-bottom: 2rem;}
article, footer header, aside { width: 88%; margin: 0 auto; }
aside {}
figure {}
footer { padding: 2rem 0; background: #fff; }
@media screen and (min-width: 950px) {
    h1 {font-size: 8em; }
    article, aside {  width: 50%; margin: 0 3rem; float: left;}
    footer header { margin: 0 3rem; }
    }
@media screen and (min-width: 900px) {
    article, aside {  width: 35%; margin: 0 3rem; float: left;}
    }
/* forms __________________________ */
form {}
fieldset { border: 0;}
legend, label {font-weight: bold;}
input, input[type="search"], textarea { padding: 0.4rem;}
input[type="checkbox"] {}
input[type="radio"] {}
button, input[type="button"], input[type="reset"], input[type="submit"],button {
	padding: 0.6rem 2rem;
	font-size: 1em;
	font-weight: bold;
	color: #2ce2b1;
    border: 0;
    background: #eee;
	}
button:hover { background: #2ce2b1; color: #eee; }

/* media __________________________ */
img {  }
.cover {object-fit: cover; }
audio {}
canvas {}
progress {}
video {}

/* more __________________________ */
.container:after {
  content:"";
  display:table;
  clear:both;
}

/* print is dead __________________________

@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
a, a:visited { color: #444 !important; text-decoration: underline; } a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; } .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } pre, blockquote { border: 1px solid #999; page-break-inside: avoid; } thead { display: table-header-group; } tr, img { page-break-inside: avoid; } @page { margin: 0.5cm; } p, h2, h3 { orphans: 3; widows: 3; } h2, h3{ page-break-after: avoid; }
*/
